@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flexbox;
  background-color: #cfcfcfed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #28d67ff5;
  height: max(90vh, max-content);
  width: 60%;
  margin-top: 5vh;
  border-radius: 20px;
  margin-inline: auto;
}

.navBar {
  background-color: #28d67ff5;
  height: 8%;
  width: 100%;
  color: #f0f8ff;
  padding-bottom: 8px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0rem 0.2rem 0.9rem 0.01rem #3a0b0b2a;
}

.navBar > h1 {
  font-size: 2.6em;
  margin-top: 7px;
  font-family: "Montserrat", sans-serif;
}

.cardContainer {
  background-color: #28d67ff5;
  display: flex;
  align-items: center;
  gap: 3vh;
  height: max-content;
  width: 100%;
  margin-top: 1rem;
  padding-top: 2%;
  padding-bottom: 3%;
  box-shadow: 0rem 0.2rem 0.9rem 0.01rem #3a0b0b2a;
  border-radius: 20px;
}

.cardContainer > img {
  height: 20vh;
  margin-left: 2%;
  width: max(11em, 100px);
}
.cardContainer > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2%;
}
.cardContainer > .content > h2 {
  color: #000000;
  font-size: 2em;
  font-family: "Montserrat" sans-serif;
  padding-bottom: 2vh;
}

.cardContainer > .content > .DateVisited {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: "Montserrat", sans-serif;
}

.cardContainer > .content > .country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardContainer > .content > .DateVisited {
  margin-bottom: 6px;
}

.cardContainer > .content > .dateVisited {
  font-weight: 600;
  font-size: 16px;
  color: #131313;
}

.cardContainer > .content > .country > .locationIcon {
  color: rgba(224, 38, 38, 0.787);
}

.cardContainer > .content > .country > p {
  margin-left: 10px;
  letter-spacing: 2px;
  font-family: "poppins" sans-serif;
}
